.title {
  font-size: clamp(1.1rem, 2.8vw, 2.8rem);
  font-weight: 700;
  text-transform: capitalize;
}

.title.light {
  color: var(--title-light-secondary);
}

.title.dark {
  color: var(--title-dark-secondary);
}

.title.textCenter {
  text-align: center;
}
