.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  padding: 64px 0;
  background-color: var(--background-secondary);
}

.footer__cta {
  width: 300px;
}
